#main-container {
    display: grid;
    grid-gap: 10px;
}

.title {
    justify-self: center;

    font-size: 28px;
    letter-spacing: 1px;
    color: cornflowerblue;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.auth-container {
    padding: 0 5% 0 5%;
}

.login {
    height: 30px;
    width: 100px;
    background-color: aqua;
    cursor: pointer;
}